annotated-types
anyio
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
distro
feedparser
Flask
Flask-SQLAlchemy
google-auth
google-genai
greenlet
gTTS==2.5.1
gunicorn
h11
httpcore
httpx
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
packaging
pyasn1
pyasn1_modules
pydantic
pydantic_core
PyPDF2
newspaper3k==0.2.8
python-dotenv
requests
rsa
sgmllib3k
sniffio
soupsieve
SQLAlchemy
tenacity
typing-inspection
typing_extensions
urllib3
websockets
Werkzeug
zipp